h1 {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-weight:bold;
  color:#d3d3d3
}
h2 {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight:bold;
  color:#d3d3d3
}

a {
  text-align: center;
  font-family: monospace;
  color:#d3d3d3
}


form{
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  font-weight:bold;
  color:#d3d3d3
}

input.num {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  width:250px;
  height:40px;
  border:3px solid;
  background-color:#545454;
}
input.num:focus{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    background-color:#545454;
    outline-style: solid;
    outline-color:black
}

table,tr,th,td {
  position: relative;
  text-align: center;
  font-family: monospace;
  border: 3px solid;
  border-collapse: collapse;
  width: 40%;
  height:70px;
  vertical-align: middle;
  font-size: 20px;
  color:#d3d3d3
}
.label{
  position:relative;
  text-align: center;
  font-family: monospace;
  border: 2px solid;
  border-collapse: collapse;
  width: 40%;
  height:70px;
  vertical-align: middle;
  font-weight:bold;
  font-size: 25px;
  color:#d3d3d3
}
table{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color:#d3d3d3
}
.zoom {
  padding: 50px;
  border: 2px solid;
  transition: transform .2s; /* Animation */
  width: 40%;
  height: 70px;
  margin: auto;
}
.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color:  #545454
}
textarea {
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  resize:both;
  overflow: auto;
  width:300px;
  height:30px;
  background-color:#545454
}
body {
  background-image:     linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/static/media/puc.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width:100%;
  overflow: hidden;
  background-color: #333
}
.navbar-item{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-item:hover{
  background-color: #111;
}
.active{
   background-color: #545454;
}
.navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  width:100%;
  overflow: hidden;
  background-color: #333
}
.navbar-item2 {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-item2:hover{
  background-color: #111;
}

h1.hom{
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-weight:bold;
  color:white
}

h2.hom{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight:bold;
  color:white
}
