/* The sidebar menu */
.sidebar {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background-color: #111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
 font-size: 20px;
 cursor: pointer;
 background-color: #111;
 color: white;
 padding: 10px 15px;
 border: none;
}

.openbtn:hover {
 background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s; /* If you want a transition effect */
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidebar {padding-top: 15px;}
 .sidebar a {font-size: 18px;}
}


/*---------------*/
h1 {
  text-align: center;
  font-family: monospace;
  font-size: 60px;
  font-weight:bold;
  color:#d3d3d3
}
h2 {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  font-weight:bold;
  color:#d3d3d3
}
a {
  text-align: center;
  font-family: monospace;
  color:#d3d3d3
}
/*----------------------------------------------------------*/
tr.label{
  position:relative;
  text-align: center;
  font-family: monospace;
  border: 2px solid;
  border-collapse: collapse;
  width: 80%;
  height:90px;
  vertical-align: middle;
  font-weight:bold;
  font-size: 23px;
  table-layout: inherit;
}

table,tr,th,td {
  position: relative;
  text-align: center;
  font-family: monospace;
  border: 3px solid;
  border-collapse: collapse;
  width: 80%;
  height:90px;
  vertical-align: middle;
  font-size: 23px;
  color:#d3d3d3;
  margin-right:auto;
  margin-left:auto;
}

.zoom {
  padding: 50px;
  border: 2px solid;
  transition: transform .2s; /* Animation */
  width: 40%;
  height: 70px;
  margin: auto;
}
.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color:  #545454
}

body {
  background-image:     linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/static/media/puc.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width:100%;
  overflow: hidden;
  background-color: #333
}
.navbar-item{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-item:hover{
  background-color: #111;
}
.active{
   background-color: #545454;
}
.navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  width:100%;
  overflow: hidden;
  background-color: #333
}
.navbar-item2 {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
}
.navbar-item2:hover{
  background-color: #111;
}

.ul1 {
list-style: none;
font-family: monospace;
position: relative;
padding-left: 33%
}

.ul1 .li1 {
margin-bottom: 5px;
border-bottom: 5px #d3d3d3 dotted;
font-size: 35px;
line-height: 1;
width:600px
}

.ul1 .li1 .span1:nth-child(odd) {
padding-right: 0px;
color: #d3d3d3;
}

.ul1 .li1 .span1:nth-child(even) {
float: right;
padding-left: -7px;
color: #d3d3d3;
}

.ul1 .span1 {
position: relative;
bottom: -2px;
}
