
{% load static %}
<!doctype html>
<html>
  <head>
    <title>ProjetoNotebook</title>
    <link rel="icon" type="image/x-icon" href= '{% static "favicon.ico" %}'>
    <link rel="stylesheet" href='{% static "css/estudantes.css" %}'>
  </head>
  <body>
    <ul class='navbar'>
      <li class='navbar-item active'><a class="navbar-item" href="/">Página Inicial</a></li>
      {% include 'navbar.html' %}
    </ul><br><br><br><br><br><br>
    <h1 class='ind'>Projeto Notebook CDIA</h1>
    <h2 class = ind>Informações:</h2>
    {% include 'cartoes.html' %}
    <br><br><br>
    {% include 'slideshow.html' %}
    <br><br><br>
  </body>
</html>
