
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Notebook</title>
    <link rel="icon" type="image/x-icon" href= '{% static "favicon.ico" %}'>
    <link rel="stylesheet" href='{% static "css/slideshow.css" %}'>
</head>
<body>
  <ul class='navbar'>
    <li class='navbar-item active'><a class="navbar-item" href="/">Página Inicial</a></li>
    {% include 'navbar.html' %}
  </ul><br><br><br><br><br><br>

    <h1>Galeria dos Gráficos Criados:</h1>

    <div class="gallery" id="gallery">
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf1.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf2.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf3.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf4.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf5.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf6.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf7.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf8.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf9.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf10.jpg' %}" alt=""></div>
        </div>
        <div class="gallery-item">
            <div class="content"><img src="{% static 'media/graf11.jpg' %}" alt=""></div>
        </div>
    </div>
    <script src="{% static 'js/gallery.js' %}"></script>
</body>
</html>
